$padding-horizontal-mobile: 100px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 250px;
$dark: #242536;
$dark-grey: #92929d;
$grey: #e4e4e4;
$black: #4c4d5e;
$light-grey: #f6f6f6;
$blue: #282b57;
$red: #d73b3b;
$red-dark: #c62a2a;

@mixin padding($padding-vertical: 0) {
    padding: $padding-vertical $padding-horizontal;
   
    @media (max-width: $desktop_xsm) {
        padding: $padding-vertical $padding-horizontal-mobile;
    }
    @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
        padding: $padding-vertical $padding-horizontal-sm;
    }
    @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
        padding: $padding-vertical $padding-horizontal-md;
    }
}