@import "styles/variaveis";
@import "styles/breakpoints";

.cardapio {
    @include padding(50px);
    &__titulo {
      color: $dark;
      font-size: 3rem;
      margin-bottom: 30px;
    }
    &__filtros {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 30px;
        width: 100%;
    }
}