@import "styles/variaveis";
@import "styles/breakpoints";

.menu {
    @include padding(20px);
}

.header{
    @include padding();
    align-items: center;
    background-image: url('/assets/cardapio/header.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 300px;
    &__text {
        color: white;
        font-size: 5rem;
        min-width: 400px;
        width: 40%;
    }
}

.cardapio {
    @include padding(50px);
    &__titulo {
      color: $dark;
      font-size: 3rem;
      margin-bottom: 30px;
    }
    &__filtros {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 30px;
        width: 100%;
    }
}